.App {
  /* text-align: center; */
  background-color: black;
}
.card-one {
  background-color: #000;
  background-image: url("images/cover.jpg");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.card-two {
  background-color:rgb(52, 121, 98);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-content {
  color: #61dafb;
}
